opentelemetry-operator:
  # cert-manager is already installed in the cluster
  admissionWebhooks:
    certManager:
      enabled: true

  # Default collector image for all OpenTelemetryCollector CRs
  manager:
    collectorImage:
      repository: otel/opentelemetry-collector-k8s
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        memory: 128Mi

  replicaCount: 1
