podinfo:
  replicaCount: 1
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi

# Customize for your deployment
hostname: demo.cluster.samuelbagattin.com
